name: Links

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 1 * *"

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v2
        with:
          fail: true
